<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1 v-if="ok==true">Yes</h1>
        <h1 v-else>No</h1>

        <h2 v-if="type==='A'">A</h2>
        <h2 v-else-if="type==='B'">b</h2>
        <h2 v-else>c</h2>
    </div>
</body>

<script>
    let vm = Vue.createApp({
        data(){
            return{
                message: 'gooddfdfsadfd',
                ok:true,
                type: 'A'
            }
        }
    }).mount('#app')
</script>



</html>